* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' sans-serif;
}
body {
  background: #0f172a;
  color: #ffffff;
  line-height: 1.6;
}
/*Section Style Common*/
section {
  padding: 80px, 10%;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
  font-size: 40px;
}
h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #38bdf8;
}
/*Hero Section*/
#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #1e293b, #0f172a);
}
#hero p {
  font-size: 20px;
  margin-top: 10px;
  color: #cbd5e1;
}
/*About*/
#about p {
  max-width: 600px;
  margin: auto;
  color: #cbd5e1;
}
/*Skills*/
#skills ul {
  list-style: none;
  margin-top: 20px;
}
#skills li {
  background: #1e293b;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
}
/*projects*/
#projects p {
  color: #cbd5e1;
  margin-top: 10px;
}
/*Contact*/
form {
  margin-top: 20px;
}
input {
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
button:hover {
  background: #0ea5e9;
}
/* Responsive */
@media (max-width: 768px) {
  section {
    padding: 60px 5%;
  }

  h1 {
    font-size: 30px;
  }

  input {
    width: 100%;
  }
}
